html{
    color: #0c0c0b;
    background-color: rgb(148, 197, 197) ;
    background-image: url('sala-de-aula.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: contain;
}

main{
    font-family: sans-serif;
    font-size: 1.2rem;
    
}

main p {
    text-indent: start;
}

header{
    font-weight:200;
}

h1, h2, h3{
    font-variant:small-caps;
    text-align: center;
}

h2#titulo-primeira-aula, #titulo-segunda-aula{
    text-decoration: underline;
}