html{
    color: #0c0c0b;
    background-color: rgb(148, 197, 197) ;
    background-image: url('sala-de-aula.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: contain;
}